html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.title {
    font-size: 96px;
    margin-bottom: 30px;
}

.post-image {
    max-width:50%;
    height:auto
}